@import "tailwindcss";

@font-face {
  font-family: 'Escoredream';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@theme{
  --font-es:'Escoredream', serif;
} 
